.spline-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

spline-viewer {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .spline-container {
    opacity: 0.5;
  }
}